.root{
    background-color: #193947;
    -fx-background-color: #193947;
}

#imageWrapper{
    -fx-background-color: black;
}

.table-view .scroll-bar * {
    -fx-min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;

    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
}

.table-cell{
    -fx-alignment: BASELINE_CENTER;
}